@page "/iPhone"

@using Hardware4You.Models
@using Hardware4You.Data
@using MudBlazor
@inject IProductService ProductService
@inject CartService CartService

<h3>iPhone</h3>

@foreach (var product in Products)
{
    <!--TODO responsive kacheln-->
    <!--<MudCard Outlined="true">
        <MudCardContent>
            <MudImage Src="@product.ImageURL"></MudImage>
            <MudText>@product.Name</MudText>
            <MudText Typo="Typo.body2">"@product.Price"</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton OnClick="() => Buy(product.Id, Products.ToList())" Variant="Variant.Text" Color="Color.Primary">Kaufen</MudButton>
        </MudCardActions>
    </MudCard>-->

    //TODO: so hardcoded nicht gut - wenn categoryid ändern würde geht es nicht mehr
    if(product.CategoryId == 1)
    {
        <div class="card w-25">
            <div class="card-body">
                <img src="@product.ImageURL" class="card-img">
                <h5 class="card-title">@product.Name</h5>
                <!--<p class="card-text">@product.Description</p>-->
                <blockquote class="card-text">$@product.Price</blockquote>
                @if (DisplayBuyButton)
                {
                    <button class="btn btn-primary" type="button" @onclick="() => Buy(product.Id, Products.ToList())">Kaufen</button>
                }
            </div>
        </div>
    }
}

@if (ClickedOnBuyingButton)
{
    //TODO: implement product name.show as box top of webpage
    <br><p>Das Produkt "name" wurde in den Warenkorb gestellt.</p>
}

@code {
    [Parameter]
    public bool DisplayBuyButton { get; set; } = true;

    [EditorRequired]
    [Parameter]
    public IEnumerable<Product> Products { get; set; } = null!;

    public bool ClickedOnBuyingButton { get; set; } = false;

    Justify justification = Justify.FlexStart;

    protected override void OnInitialized()
    {
        Products = ProductService.GetProducts();
    }

    private void Buy(long productId, List<Product> products)
    {
        CartService.AddProductToCart(productId, products);
        ClickedOnBuyingButton = true;
    }
}
