@page "/ShoppingCart/Checkout"
@attribute [Authorize(Roles = "standard")]

@using Hardware4You.Data
@using Hardware4You.Data.ShoppingCart
@using Hardware4You.Models
@using MudBlazor
@inject CartService CartService

<h3>Bestellübersicht</h3>
<p>TODO: </p>

<!--@if (InputParameter != null)
{
    @foreach (var product in InputParameter)
    {
        <img src="@product.ImageURL" class="card-img">
        <h5 class="card-title">@product.Name</h5>
        <blockquote class="card-text">@product.Price CHF</blockquote>
    }

    <br />
    <hr />
    <br />
    <h3>Lieferadresse</h3>
    <MudTextField @bind-Value="Name" Label="Vorname/Nachname" Variant="Variant.Text" InputType="InputType.Text" Adornment="Adornment.Start" />
    <MudTextField @bind-Value="Adresse" Label="Adresse" Variant="Variant.Text" InputType="InputType.Text" Adornment="Adornment.Start" />

    <button class="btn btn-primary" type="button" @onclick="() => Checkout(InputParameter.ToList())">
        <MudIcon Icon="@Icons.Material.Filled.ShoppingCartCheckout" /> Endgültig kaufen
    </button>
}-->

<p>@TestInput</p>

@code {
    [EditorRequired]
    [Parameter]
    public string TestInput { get; set; } = "";

    /*public IEnumerable<Product> InputParameter { get; set; } = null!;
      
    public bool ClickedOnCheckoutButton { get; set; } = false;

    public string Name { get; set; } = null!;
    public string Adresse { get; set; } = null!;

    protected override void OnInitialized()
    {
        var prod = InputParameter;
    }

    private void Checkout(List<Product> products)
    {
        CartService.BuyProductsInCart(products);
        ClickedOnCheckoutButton = true;
    }*/
}
