@page "/products"
@attribute [Authorize(Roles = "admin")]

@using Hardware4You.Data
@using Hardware4You.Models
@using Syncfusion.Blazor.Grids
@inject IProductService ProductService

<PageTitle>Admin</PageTitle>

<h3>Verwaltung Produkte</h3>
<br />
<SfGrid DataSource="@HardwareProducts" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" TValue="Product">
    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Normal"></GridEditSettings>
    <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="Product"></GridEvents>
    <GridColumns>
        <GridColumn Field="@nameof(Product.Id)" IsPrimaryKey="true" IsIdentity="true" Visible="true" Width="40"></GridColumn>
        <GridColumn Field="@nameof(Product.Name)" Width="100"></GridColumn>
        <GridColumn Field="@nameof(Product.Description)" HeaderText="Beschreibung" Width="150"></GridColumn>
        <GridColumn Field="@nameof(Product.ImageURL)" HeaderText="Bild URL" Width="150"></GridColumn>
        <GridColumn Field="@nameof(Product.Price)" HeaderText="Preis" Width="50"></GridColumn>
        <GridColumn Field="@nameof(Product.Quantity)" HeaderText="Anzahl" Width="50"></GridColumn>
        <GridColumn Field="@nameof(Product.CategoryId)" Width="50"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    public IEnumerable<Product> HardwareProducts { get; set; } = null!;

    protected override void OnInitialized()
    {
        HardwareProducts = ProductService.GetProducts();
    }

    public void ActionBeginHandler(ActionEventArgs<Product> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                ProductService.InsertProduct(Args.Data);
            }
        }

        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Edit")
            {
                ProductService.UpdateProduct(Args.Data.Id, Args.Data);
            }
        }

        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            ProductService.DeleteProduct(Args.Data.Id);
        }
    }

    public void ActionCompleteHandler(ActionEventArgs<Product> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            HardwareProducts = ProductService.GetProducts();
        }
    }

}
