@page "/users"
@attribute [Authorize(Roles = "admin")]

@using Hardware4You.Data
@using Hardware4You.Data.User
@using Hardware4You.Models
@using Syncfusion.Blazor.Grids
@inject UserService UserService

<PageTitle>Admin</PageTitle>

<h3>Verwaltung Benutzer</h3>
<br />
<SfGrid DataSource="@ListUsers" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" TValue="User">
    <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Normal"></GridEditSettings>
    <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="User"></GridEvents>
    <GridColumns>
        <GridColumn Field="@nameof(User.Id)" IsPrimaryKey="true" IsIdentity="true" Visible="false"></GridColumn>
        <GridColumn Field="@nameof(User.Username)" HeaderText="Benutzername" Width="100"></GridColumn>
        <GridColumn Field="@nameof(User.Password)" HeaderText="Passwort" Width="150"></GridColumn>
        <GridColumn Field="@nameof(User.Role)" HeaderText="Rolle" Width="150"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    public IEnumerable<User> ListUsers { get; set; } = null!;

    protected override void OnInitialized()
    {
        ListUsers = UserService.GetListUser();
    }

    public void ActionBeginHandler(ActionEventArgs<User> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                UserService.InsertUser(Args.Data);
            }
        }

        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Edit")
            {
                UserService.UpdateUser(Args.Data.Id, Args.Data);
            }
        }

        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            UserService.DeleteUser(Args.Data.Id);
        }
    }

    public void ActionCompleteHandler(ActionEventArgs<User> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            ListUsers = UserService.GetListUser();
        }
    }

}
